.inputLabel {
	color: bisque;
	font-size: calc(10px + 2vmin);
	margin-right: 10px;
}

.input {
	border-radius: 15px;
    font-size: calc(2px + 2vmin);
    padding: calc(2px + 2vmin);;
}

.input:focus{
    outline: none;
}

.inputGroup {
	display: inline-block;
}